<form class="{{cssClass}}" autocomplete="off">
    <style>
        :root {
            --main-text-color: {{getGameSetting "generalTextColor"}};
            --main-text-font: {{getGameSetting "generalTextFont"}};
        }
    </style>

    {{> "systems/runequest/templates/actor/hh/parts/actor-general.html"}}
    {{> "systems/runequest/templates/actor/hh/parts/actor-characteristics.html"}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs flexrow" data-group="primary">
        {{#if data.flags.locked}}
        <a class="unlock-character-sheet" title="{{localize 'RQG.UnlockSheet'}}">
            <i class="fas fa-lock"></i>
        </a>
        {{else}}
        <a class="unlock-character-sheet" title="{{localize 'RQG.LockSheet'}}">
            <i class="fas fa-lock-open"></i>
        </a>
        {{/if}}
        <a class="item actor-item" data-tab="general">{{localize 'RQG.General'}}</a>
        <a class="item actor-item" data-tab="skills">Skills</a>
        <a class="item actor-item" data-tab="magic">Magic</a>
        <a class="item actor-item" data-tab="gear">Gear</a>
        <a class="item actor-item" data-tab="activeeffects">Effects</a>
        {{#if isGM}}
        <a class="item actor-item" data-tab="gmtools">GM Tools</a>
        {{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body section-padding">
        <div class="tab" data-group="primary" data-tab="general">
            {{> "systems/runequest/templates/actor/hh/parts/actor-element-runes.html"}}
            {{> "systems/runequest/templates/actor/hh/parts/actor-power-runes.html"}}
            <div class="flexrow table-divider">
                {{> "systems/runequest/templates/actor/hh/parts/actor-hitlocations.html"}}
                {{> "systems/runequest/templates/actor/hh/parts/actor-attributes.html"}}
            </div>
            {{> "systems/runequest/templates/actor/hh/parts/actor-attacks.html"}}
            {{> "systems/runequest/templates/actor/hh/parts/actor-passions.html"}}
        </div>

        <div class="tab" data-group="primary" data-tab="skills">
            {{> "systems/runequest/templates/actor/hh/parts/actor-skills.html"}}
        </div>

        <div class="tab" data-group="primary" data-tab="magic">
            <div class="flexrow">
                <div class="flexcol skills-column">
                    {{> "systems/runequest/templates/actor/hh/parts/actor-cults.html"}}
                    {{> "systems/runequest/templates/actor/hh/parts/actor-rune-spells.html"}}
                </div>
                <div class="flexcol skills-column">
                    {{> "systems/runequest/templates/actor/hh/parts/actor-spirit-spells.html"}}
                    {{> "systems/runequest/templates/actor/hh/parts/actor-mp-storage.html"}}
                </div>
            </div>
        </div>

        <div class="tab" data-group="primary" data-tab="gear">
            {{> "systems/runequest/templates/actor/hh/parts/actor-gear.html"}}
        </div>

        <div class="tab activeeffects" data-group="primary" data-tab="activeeffects">
            {{> "systems/runequest/templates/actor/parts/actor-activeeffectsv2.html"}}
        </div>

        <div class="tab activeeffects" data-group="primary" data-tab="gmtools">
            {{> "systems/runequest/templates/actor/parts/actor-gmtools.html"}}
        </div>
    </section>
</form>