<div class="runequest chat-card skill-card" data-actor-id="{{actor.id}}" data-item-id="{{item.id}}"
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header">
        <img src="{{item.parent.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>
    <div class="card-content">
        <table>
            <thead>
                <th>{{item.type}}</th>
                <th>{{localize "RQG.Roll"}}</th>
                <th>{{localize "RQG.Target"}}</th>
                <th>{{localize "RQG.Result"}}</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{item.name}}</td>
                    <td>[[{{attackroll.total}}]]</td>
                    <td>[[{{attackskill}}]]</td>
                    <td>{{attackresult}}</td>
                </tr>
                {{log damageData}}
                {{#if isFumble}}
                    <tr><td>Make a roll on the Fumble list</td></tr>
                {{else}}
                    {{#if isFailure}}
                        <tr><td>Failed</td></tr>
                        {{else}}
                            <tr>
                              <td>Success Level</td>
                                {{#if isCritical}}
                                  <td>C</td>
                                  <td>S</td>
                                  <td>N</td>
                                {{/if}}
                                {{#if isSpecial}}
                                  <td>S</td>
                                  <td>N</td>
                                {{/if}}
                                {{#if isSuccess}}
                                <td>N</td>
                                {{/if}}
                            </tr>
                            <tr>
                                <td>{{localize "RQG.Weapon_damage"}}</td>
                                {{#if isCritical}}
                                  <td>[[{{damageData.criticaltotaldamage}}]]</td>
                                  <td>[[{{damageData.specialtotaldamage}}]]</td>
                                  <td>[[{{damageData.totaldamage}}]]</td>
                                {{/if}}
                                {{#if isSpecial}}
                                  <td>[[{{damageData.specialtotaldamage}}]]</td>
                                  <td>[[{{damageData.totaldamage}}]]</td>
                                {{/if}}
                                {{#if isSuccess}}
                                  <td>[[{{damageData.totaldamage}}]]</td>
                                {{/if}}
                            </tr>
                            <!--<tr><td>{{localize "RQG.Damage_Bonus"}}</td><td>[[{{damageData.damagebonus._total}}]]</td></tr>
                            <tr><td>{{localize "RQG.Total_damage"}}</td><td>[[{{damageData.totaldamage}}]]</td></tr>-->
                    </tbody>
                </table>
                <div class="card-content">
                    Localization: {{hitlocation}}
                </div>
            {{/if}}
        {{/if}}
    </div>


    <footer class="card-footer">
    </footer>
</div>
